@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: var(--color-blue-600);
  --color-primary-foreground: var(--color-white);
  
  --color-sidebar: var(--color-white);
  --color-sidebar-foreground: var(--color-gray-600);
  --color-sidebar-primary: var(--color-blue-600);
  --color-sidebar-primary-foreground: var(--color-white);
  --color-sidebar-accent: var(--color-gray-100);
  --color-sidebar-accent-foreground: var(--color-blue-600);
  --color-sidebar-border: var(--color-gray-200);
  --color-sidebar-ring: var(--color-blue-400);

  --color-background: var(--color-gray-50);
  --color-card: var(--color-white);
  --color-card-foreground: var(--color-gray-900);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-gray-900);
  --color-secondary: var(--color-gray-100);
  --color-secondary-foreground: var(--color-gray-900);
  --color-muted: var(--color-gray-100);
  --color-muted-foreground: var(--color-gray-500);
  --color-accent: var(--color-gray-100);
  --color-accent-foreground: var(--color-gray-900);
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-border: var(--color-gray-200);
  --color-input: var(--color-gray-200);
  --color-ring: var(--color-blue-600);
}


.input-modern {
  @apply w-full border border-gray-200 p-3 rounded-xl outline-none
  focus:border-blue-500 focus:ring-2 focus:ring-blue-100
  transition;
}

@keyframes modalPop {
  0% {
    opacity: 0;
    transform: scale(0.90) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: modalPop 0.25s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

/* hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* High Quality Image Rendering */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
}